<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="" ng-init="quantity=1;price=5;names=['Jani','Hege','Kai']">

<h2>Cost Calculator</h2>

Quantity: <input type="number" ng-model="quantity">
Price: <input type="number" ng-model="price">
Total Dollars: <span ng-bind="quantity * price"></span>

  <p>Looping with ng-repeat:</p>
  <ul>
    <li ng-repeat="x in names">
      <span ng-bind="x"> <span>
    </li>
  </ul>
</div>

</body>
</html>
